.einkehrimage {
    max-width: 300px;
}

@media screen and (min-width: 640px) {
    .einkehrimage {
        max-width: 500px;
    }
}

@media screen and (min-width: 768px) {
    .einkehrimage {
        max-width: 900px;
    }
}

@media screen and (min-width: 768px) {
    .line-height-class {
        line-height: 2.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .line-height-class {
        line-height: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .line-height-class-small {
        line-height: 2.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .bigger-logo {
        width: 400px;
    }
}





