.einkehrimage {
    max-width: 300px;
}

@media screen and (min-width: 640px) {
    .einkehrimage {
        max-width: 500px;
    }
}

@media screen and (min-width: 900px) {
    .einkehrimage {
        max-width: 900px;
    }
}

@media screen and (min-width: 1100px) {
    .line-height-class {
        line-height: 5rem;
    }
}

@media screen and (min-width: 1100px) {
    .line-height-class-small {
        line-height: 3rem;
    }
}

@media screen and (min-width: 1100px) {
    .bigger-logo {
        width: 650px;
    }
}





